*{
    box-sizing: border-box;;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    background-image: url("./images/books2.jpg");
    background-repeat: no-repeat;
    background-size: cover;

  }
header, footer{
    display: flex;

}
.logo{
    color:rgb(51, 49, 49);
    font-size:40px; 
    cursor:pointer;
}

.logo:hover {
    color:rgb(73, 69, 69);
}
.logo p{
    margin:0;
}

#main {
    display: flex;
    flex: 1;
  }
#main > #books {
    flex: 1;
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
}

header, footer, #main{
    padding: 1em;
}

.searchbox{
    margin:auto;
}
#searchText, #search{
    font-size:30px;
    padding:5px 10px;
    border-radius: 5px;
    border:1px solid grey;
}
#searchText:focus, #search:focus{
    outline:none;
    border:2px solid grey;
}
#search{
    cursor:pointer;
}

.book{
    width: 250px;
    padding: 20px;
    text-align: center;
    background: white;
    margin: 10px;
    position: relative;
    background:#f6f8e7fa;
    min-height:250px;

}

.favorite{
    position: absolute;;
    bottom:0;
    width: 100%;
    left: 0;
    background: #88d7b8;
    padding:10px;
    display:none;
    cursor: pointer;
}

.favIcon{
    margin-left:5px;
    color:white;
}
.book:hover .favorite{
    display:block;
}

.favorite.active{
    display: block;
}

.hidden.favicon{
    color:#27624e;
}

.hidden{
    display:hidden;
}

div#form {
    width: 250px;
    margin: 40vh auto;
}

.title{
    font-size:25px;
    font-weight:normal;
    text-align: center;
    color: #0d1f19;
    cursor: pointer;
}

.title:hover {
    color:grey;
}

#name, #pass{
    display: block;
    width:100%;
    margin-bottom:20px;
    height:35px;
    padding: 3px;
    font-size: 18px;
}

#login{
    width:100%;
    height:30px;
    font-size:17px;
    background-color: #56af91;
    border:1px solid #4d917a;
    color:white;
    cursor: pointer;
}

.message {
    color:rgb(167, 51, 51);
    font-size:18px;
}

.logout{
    height: 30px;
    margin: auto 0;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid grey;
    font-size:22px;
}

.username{
    margin: auto 15px;
    font-size:25px;

}

#bookSample div{
    float:left;
}

#bookSample {
    padding:40px;
    background:white;
}

#bookInfo{
    margin-left:30px;
}

@media screen and (max-width: 575px) {
    #main {
        display: block;
    }
    .logout{
        height:auto;    
    }
}