*{
    box-sizing: border-box;;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    background-image: url("./images/body.jpg");
  }
header, footer{
    display: flex;
    height: 20vh;

}
#main {
    display: flex;
    flex: 1;
  }
#main > #books {
    flex: 1;
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
}

header, footer, #main{
    padding: 1em;
}

.searchbox{
    margin-left:auto;
}
#searchText, #search{
    padding:5px 10px;
    border-radius: 5px;
    border:1px solid grey;
}
#searchText:focus, #search:focus{
    outline:none;
    border:2px solid grey;
}
#search{
    cursor:pointer;
}
#searchText{
    width: 200px;
}

.book{
    width: 250px;
    padding: 20px;
    text-align: center;
    background: white;
    margin: 10px;
    position: relative;
    background:#f6f8e7fa;

}

.favorite{
    position: absolute;;
    bottom:0;
    width: 100%;
    left: 0;
    background: #88d7b8;
    padding:10px;
    display:none;
    cursor: pointer;
}

.favIcon{
    margin-left:5px;
    color:white;
}
.book:hover .favorite{
    display:block;
}

.hidden.favicon{
    color:#27624e;
}

.hidden{
    display:hidden;
}

@media screen and (max-width: 575px) {
    #main {
        display: block;
    }
}